html {
    scroll-behavior: smooth;
    background-color: red;

}

html:has(:target) {
    scroll-behavior: smooth;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;



}

body {

    background: linear-gradient(to left, rgb(180, 208, 250), #c4c2c0, #c3cee2, #d7d7e0);
    margin: 0;
    padding: 0;

}

main {
    display: flex;
    flex-direction: column;
    overflow: visible;
}


/* SECTION ASIDE */
.aside {
    width: 24%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-width: none;
    margin: 0;
    background: linear-gradient(to bottom, #61615d, #19181a);

    ::-webkit-scrollbar {
        display: none;
    }

}

.iconosMenuVertical {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}



.menuVertical {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.active {
    color: #da9e2e;

}

li {

    width: 100%;
    padding: 2vh;
}


aside h1 {
    color: white;
    font-size: calc(1.5vw + 1.8vh);
    /* text-shadow: white -3px -3px 30px; */
    margin: 2vh;
}


li a {
    font-size: clamp(16px, 0.9vw + 0.9vh, 24px);
    text-shadow: rgb(16, 68, 36) 2px 2px 3px;
}

.menuVertical>li:not(:first-child) {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(237, 237, 240, 0.5), rgba(0, 0, 0, 0)) 1;

}





a {
    text-decoration: none;
    color: white;
}

.selfie {
    display: block;
    margin: 15px auto;
    width: 12vw;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


h2 a {
    color: black;
    font-size: 2.2vw;
}


a:hover:not(.active) {

    font-weight: bold;
    color: #ffcc00;
    transition: all 0.3s ease-in-out;
    letter-spacing: 1px;
    opacity: 0.9;
    text-shadow: white -3px -3px 30px;

}


.iconoVertical:hover {
    transform: scale(1.5);
}





/* ---------------  NAV HORIZONTAL ---------------------------------- */

.site-header {
    width: 100%;
    justify-self: center;
    background-color: black;
    display: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}


.ulHorizontal {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;

}


.liHorizontal1 {
    display: flex;
    width: 160px;
    justify-content: center;
    align-items: center;
}

.aHorizontal {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
}


/* Estilos del botón hamburguesa */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
    /* Evita el destello azul en Safari móvil */
    justify-content: center;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 0;
    transition: 0.3s ease;

    /* Asegura que el ancho y alto sean correctos en Safari */
    display: block;
    -webkit-tap-highlight-color: transparent;
    /* Evita el destello azul en Safari móvil */
}

.hamburger:hover span {
    background-color: white;
}



/* --------------- SECCION ABOUT ---------------------------------- */

.about {

    padding: 6vw;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 76%;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.presentacion {

    padding: 10px;
    border-left: 1px solid black;
    border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 19, 139, 0.5), rgba(0, 0, 0, 0)) 1;
    min-height: calc(100vh - 200px);
    text-align: start;

}




article::-webkit-scrollbar {
    display: none;
    /* Oculta la barra en Chrome, Safari y Edge */
}


.encabezado {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: left;
    justify-content: end;
}

.encabezadoTexto {
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 10px;
    display: inline;
    font-size: 50px;
    width: 300px;
    color: #da9e2e;
}

.profesion {

    display: block;
    font-size: clamp(24px, 3vw, 40px);
    text-align: left;
    text-indent: 0.2em;
    color: black;



}

.h2Profesion {
    font-size: clamp(18px, 1.2vw, 30px);
    text-align: left;
    text-indent: 0.2em;
    margin-top: 2px;
    margin-bottom: 2px;
    color: black;

}

.pAbout {

    text-align: justify;
    color: #888;
    font-size: 16px;
    text-align: start;
    word-wrap: break-word;
    max-width: 600px;
    width: 100%;
    margin-left: 0.3em;

}



.linkContacto {
    font-size: 16px;
    color: #2b28e9;
}


/* --------------- SECCION ABOUT 2 ---------------------------------- */
.about2 {
    padding: 6vw;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 76%;
    margin: 0;
    background-color: #da9e2e;
    display: flex;
    flex-direction: column;
}

.articulo2About {
    padding: 10px;
    text-align: start;
    min-height: 100vh;


}


.cajaContainerSuperiorAbout2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid red 2px;
 
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80vh;

}


.cajaContainerAbout2 {
    display: flex;
    flex-direction: row;
    border: white solid 2px;
    min-height: 200px;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
}


.About2Imagen{
    width: 400px;
   

}

.cajasAbout2Imagen {
    border: solid black 2px;
   width: 300px;
   height: 300px;
  
    height: 200px;
    border-radius: 30px;

}

.cajasAbout2Texto {
    border: solid black 2px;
    height: inherit;
   
    width: 400px;

}



/* --------------- WORK SECCION ---------------------------------- */


#work {

    display: grid;
    place-items: center;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.workExperience {

    display: block;
    justify-self: left;
    font-size: clamp(16px, 3vw, 40px);
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(to right, rgb(13, 13, 14), rgba(14, 14, 14, 0.5), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    text-shadow: gray -1px -3px 20px;

}

.workContainer {
    justify-self: left;
    display: inline-block;
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(to right, rgb(207, 207, 211), rgba(14, 14, 14, 0.5), rgba(240, 237, 237, 0));
    border-image-slice: 1;
    font-size: clamp(16px, 1vw, 25px);


}

.imgContainer {

    display: flex;
    align-items: center;


}

.logo {
    margin-right: 10px;
}



#work h2 {
    display: inline;
    font-size: clamp(16px, 1.7vw, 40px);

}



#work h3 {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    color: rgb(77, 76, 76);
    font-size: 16px;
}


#work p {
    color: black;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: clamp(16px, 1vw, 24px);

}



.empresa {

    position: relative;
    display: block;
    top: 0;
    left: 15px;
    font-family: 'Lato', sans-serif;
    text-shadow: gray -1px -3px 20px;
}



.logo {

    width: 3vw;
    padding-left: 5px;

}



.logoNombre {
    font-size: 1.2vw;
    align-items: center;
    justify-content: left;
    display: flex;
    height: 45px;

}

div.contenedor {
    margin: 1vh;
}



.contenedorWork {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    height: 100vh;

}




/* --------------- SECCION ACADEMIC ---------------------------------- */
.academic {
    position: relative;
    width: calc(100vw - 27vw);
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    border: #1b1b1b solid;
}

#academic article h1 {
    color: black;
    font-size: 3vw;
    border-bottom: 2px solid transparent;
    border-image-source: linear-gradient(to right, rgb(13, 13, 14), rgba(14, 14, 14, 0.5), rgba(0, 0, 0, 0));
    border-image-slice: 1;
    padding-bottom: 1px;
}

#academic article h2 {
    font-size: 2vw;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, auto);
    /* 2 filas ajustadas al contenido */
    gap: 10px;
    /* Espacio entre los elementos */
    padding: 20px;

}


/* --------------- SECCION PORTFOLIO ---------------------------------- */
.portfolio {
    position: relative;
    width: calc(100vw - 27vw);
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    border: #1b1b1b solid;
}


/* --------------- SECCION CONTACT ---------------------------------- */
.contact {
    position: relative;
    width: calc(100vw - 27vw);
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    border: #1b1b1b solid;
}





@media (max-width: 1050px) {

    .site-header {
        display: initial;
    }

    .encabezado {
        display: none;
    }


    .aside {
        display: none;

    }

    .about {
        width: 100%;
        /* height: calc(100vh - 50px); */

    }

    .about2 {
        width: 100%;
    }

    .articulo2About {
        margin-left: 0;



    }

    .pAbout {

        text-align: justify;
        justify-self: center;
        margin-left: 0;

    }


    #work {
        width: 90%;
    }

    .selfie {
        display: none;
    }

    .h1Nav {
        display: none;
    }

    .logo {
        display: none;
    }

    .profesion {
        justify-self: center;
        text-align: center;
    }

    .h2Profesion {
        justify-self: center;
        text-align: center;

    }


    .presentacion {
        margin-left: 0;
        min-height: calc(100vh - 50px);

    }


    .About2Imagen{
        width: 100%;
        max-width: 400px;;
       
    
    }
}











/* max-width de 768px para ocultar el menú normal y mostrar el botón hamburguesa:*/
/* @media (min-width: 900px) {

    .h1Nav {
        font-size: clamp(2rem, 2vw, 3vh);
    }

    .about {
        width: 75%;
    }

    #work {
        width: 70%;
    }

    .presentacion {
        margin-left: 5vw;

    }

    header {
        display: none;
    }

    .profesion {
        justify-self: left;
    }

    .divPresentacion {
        justify-self: left;

    }

    .site-header{
        display: none;
    }

} */


/* .Expe p {
    padding-left: 5px;
    position: relative;
    left: 10vw;
    border-left: 1px solid transparent;
    border-image-source: linear-gradient(to bottom, rgb(236, 236, 238), rgba(14, 14, 14, 0.5), rgba(247, 244, 244, 0));
    border-image-slice: 1;
    width: 70%;
    font-size: min(2vw, 2vh);
    text-shadow: gray -1px -3px 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2vh;
} */