html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #003049, #007a7a);

    /* background-color: #0f1e46; */

    /* background-image: url("/assets/images/Fondo-techno1.png"); 
    background-repeat: no-repeat; */

}


/* -------- NAV -------- */
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    height: 80px;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, #003049, #007a7a);
    height: 60px;
    color: white;
}

.logoCabeza {
    width: 50px;
    margin-left: 20px;
}

.desktop {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}

.navbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 40px;
    background-color: #00002A;
    color: white;


}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 5px;
    margin-right: 20px;
    color: white;
}

.nav-links li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
    font-size: 0.95rem;
    transition: color 0.2s;
    font-weight: 500;
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li:hover {
    color: #5afdbfd2;
}



/* --------------------------------------------------------- */
.ulHorizontal {
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    display: none;
    align-items: center;
    height: 50px;
    background-color: #010436;
}

.menu-content ul.menu-list:first-of-type {
    font-size: 1.2rem;
    color: #fff;
    border-bottom: none;
    padding: 20px 0;
    text-align: center;
}

.liHorizontal1 {
    display: flex;
    align-items: center;
    border-left: solid 1px #5afdbfd2;
}

.aHorizontal {
    font-size: 17px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-right: 30px;
    margin-left: 20px;
}

.aHorizontal:hover {
    color: #5afdbfd2;
}



/* **************** BOTON AMBURGUESA ***************/
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0;
    background: none;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.3s;
}

/****************************************************/






/* ------------------ about1 ---------------- */
.about1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 40px);
    gap: 30px;
    background-color: #040026;

    background-image: url("/assets/images/Fondo-techno1.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;





}

.caja1 {
    margin: 20px;
}

.caja2 {
    margin: 20px;
    color: white;
}

.caja1 img {
    width: clamp(280px, 19vw, 500px);
    height: auto;
}

.p-about1 {
    text-align: start;
    font-size: 16px;
    line-height: 1.6;
    width: 400px;
    margin: 0;
    padding: 0;
    align-self: first baseline;
}

/* *********************************************/




/* ------------------ about ---------------- */
.about {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    color: white;
    min-height: 100vh;
    background-color: #040026;

    background-image: url("/assets/images/Fondo-techno1.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;

    /* background-image: url("/assets/images/Fondo-techno1.png");  */
    /* background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-color: #040026; */
}

.cajaImagen {
    width: clamp(200px, 85vw, 550px);
    height: auto;
    transition: width 0.3s ease;
    padding: 40px;
}




/* ------------------ about2 ---------------- */
.about2 {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background-color: #040026;
}

.skills {

    flex-direction: column;
    align-items: center;
    width: clamp(250px, 80vw, 550px);
    padding: 40px;
}

.h2-skill {
    font-size: clamp(32px, 2.8vw, 500px);
    align-self: first baseline;
    margin: 10px;
    margin-left: 0;
}

.p-skill {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: first baseline;
    margin-bottom: 40px;
}





/********* BOTON Ver Mas *****************/
.cajaBotonVerMas {
    background-color: #5afdbfd2;
    width: 100px;
    height: 50px;
    border-radius: 2px;
}

.botonVerMas {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.skills:nth-child(2) {
    align-content: flex-start;
}

.cajaBotonVerMas:hover {
    background-color: #93e9e9;
}

/*******************************************/






/********* BOTON 2*****************/

.cajaImagen {
    width: clamp(200px, 85vw, 550px);
    height: auto;
    transition: width 0.3s ease;
    padding: 40px;
}

.presentacion {
    position: relative;
    padding-left: 20px;
}

.presentacion::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: linear-gradient(to bottom, transparent, black, transparent);
}

.presentacion h3 {
    font-size: 20px;
    margin: 0 0 3px 0;
    font-weight: 400;
    color: #1b1b1b;
}

.profesion {
    font-size: clamp(35px, 3.4vw, 60px);
    margin: 10px 0;
}



/* -------- ACADEMIC  -------- */


.academic {

    padding-left: 40px;
}

.academic ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.li-academic {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    min-height: 60px;
    flex-direction: row;
    text-align: center;
}




.li-academic:last-child {
    border-bottom: none;
}

.h3-School {
    min-width: 280px;
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    padding-right: 20px;
    display: flex;
    align-items: flex-start;
}

.separador {
    flex: 1;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Para asegurar que el contenido de separador esté alineado */
.separador br {
    display: block;
    content: "";
    margin-top: 4px;
}


.navbar .nav-links a {
    text-decoration: none;
    font-weight: 500;
}


/* Opcional: para mantener el menú centrado y limpio */
.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar .nav-links a:hover {
    color: #5afdbfd2;
}




/*********** CONTACT ****************/

.contact-section {
    background: #111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    color: white;
    height: 100vh;
}

.contact {
    padding: 20px;
    margin-bottom: 50px;
}

.contact-info {
    padding: 20px;
}


.contact h2 {
    font-size: clamp(32px, 2.8vw, 500px);
    align-self: first baseline;
    margin-left: 0px;
    padding-right: 10px;
    margin-top: 5px;
}

.contact p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: first baseline;
    width: clamp(100px, 80vw, 450px)
}


.contact-form {
    max-width: 400px;
    width: 100%;
    width: clamp(250px, 80vw, 550px)
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}


.contact-form input,
.contact-form textarea {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #008080;
}

.contact-form button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background-color: #006666;
}


.skills {
    padding-bottom: 0px;
}

.presentacion {
    border: none;
    padding: 0;
}


.cajaImagen {
    padding-top: 0;
}

.footer-container {
    flex-direction: column;
    gap: 15px;
}

.presentacion::before {
    background: none;
}

body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}




/* -------- FOOTER -------- */
.footer {
    background: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.footer-bottom {
    margin-top: 10px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}



/* *************** MENU DESPLEGABLE ****************** */
.menu-overlay {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #0f1e46;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.menu-overlay.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: transform 0.4s ease, opacity 0.4s ease, visibility 0s 0s;
}

.menu-content {
    padding: 40px;
    padding-left: 25px;
    padding-top: 0px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    width: 100%;
}


.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    margin: 25px 0;
}

.menu-list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.menu-list a:hover {
    color: #5afdbfd2;
    font-weight: 800;
}


.p-about1 {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    min-width: 350;
    margin: 0;
    padding: 0;
    align-self: first baseline;
}



/*********** CONTACT  ***************************/
.contact-section {
    background: #111;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    color: white;
    min-height: 100vh;
}

.contact {
    margin-top: 100px;
    max-width: 400px;
    margin-bottom: 20px;
}

.contact p {
    width: 100%;
}

.contact-info {
    margin-bottom: 100px;

}

::-webkit-scrollbar {
    display: none;
}







/**************   MOBILE ***************/
@media (max-width: 810px) {

    .desktop {
        display: none;
    }

    .encabezado {
        display: none;
    }

    .site-header {
        padding: 0;

    }

    .ulHorizontal {
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Los dos primeros elementos <li>  */
    .ulHorizontal li:nth-child(1),
    .ulHorizontal li:nth-child(2) {
        margin-right: 8px;

    }

    /* El tercer <li>  */
    .ulHorizontal li:nth-child(3) {
        margin-right: 20px;
        margin-left: auto;
        border: none;
    }

    .no-scroll {
        overflow: hidden;
    }



    /************ MENU LIST ********************/

    .menu-overlay.active {
        align-items: flex-start;
    }

    .no-scroll {
        overflow: hidden;
    }

    .menu-content {
        height: 100vh;
        position: relative;
        padding-bottom: 60px;
        /* deja espacio para el último ul */
    }

    .menu-list {
        align-items: flex-start;
        padding: 2px 0;
        border-bottom: none;
        box-shadow: inset 0 -0.5px 0 0 #5afdbfd2;
    }

    .menu-list:nth-child(2) {
        padding: 0;
    }


    .menu-list p {
        color: white;
    }

    .menu-list li {
        margin: 12px;
        margin-left: 0;
    }


    .menu-list a {
        font-size: 17px;
    }


    .menu-list li a {
        position: relative;
        text-decoration: none;
        color: white;
    }

    .liHorizontal1 img {
        position: absolute;
        top: 8px;
        right: 20px;
        width: 33px;
    }


    .liHorizontal1 .img-hover {
        opacity: 0;
    }

    .liHorizontal1:hover .img-hover {
        opacity: 1;
    }

    .liHorizontal1:hover .img-normal {
        opacity: 0;
    }





    /***********BOTON AMBURGUESA*********/
    .hamburger .cruz {
        display: none;
        font-size: 20px;
        color: #333;
        line-height: 0;
        background: none;
    }

    .hamburger.active span {
        display: none;
    }

    .hamburger.active .cruz {
        display: inline;
        color: white;
        margin-top: 4px;
    }

    /*************************************/



    .h2Profesion {
        display: none;
    }

    .about article.academic {
        margin-left: 0;
    }

    .li-academic {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        min-height: auto;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 5px;
        padding: 5px;
    }



    .h3-School {
        min-width: auto;
        width: 100%;
        padding-right: 0;
        font-size: 22px;
    }

    .h2Profesion {
        font-size: 20px;
    }

    .separador {
        width: 100%;
        font-size: 15px;
    }



    .h3-School {
        min-width: auto;
        width: 100%;
    }

    .separador {
        width: 100%;
        text-align: left;
    }


    .site-header {
        display: block;
    }

    .about1 {
        align-content: center;
        flex-direction: column;
        text-align: center;
        height: 100vh;


    }
}